- name: K8S Prerequisites Kernel Modules and System Config
  hosts: k8s_nodes
  become: true
  tasks:
    - name: Load Kernel Modules on all nodes
      community.general.modprobe:
        name: "{{ item }}"
        state: present
        persistent: present
      loop: "{{ kernel_modules_to_load }}"
    - name: Load Sysctl Configurations on all nodes
      ansible.posix.sysctl:
        name: "{{ item.key }}"
        value: "{{ item.value }}"
        state: present
        reload: true
      loop: "{{ sysctl_configurations | dict2items }}"

    - name: Install and Enable Iscsi on nodes
      when: enable_iscsi | default(false) | bool
      block:
        - name: Install iscsi initiator on Debian like nodes
          when: ansible_facts["os_family"] == "Debian"
          ansible.builtin.apt:
            name:
              - open-iscsi
            state: present
        - name: Install iscsi initiator on RedHat like nodes
          when: ansible_facts["os_family"] == "RedHat"
          ansible.builtin.dnf:
            name:
              - iscsi-initiator-utils
            state: present
        - name: Start and enable iscsid if it's not
          ansible.builtin.service:
            name: iscsid
            state: started
            enabled: true
